// colores
$color1: #000;
$color2: #fff;
$color3: orange;
$color4: rgb(199, 131, 5);
$color5: rgba(255, 255, 255, 0.116);
$color6: rgb(216, 213, 213);
$color7: #333;
$color8: #999;
$color9: rgb(209, 148, 35);
$color10: rgba(211, 181, 14, 0.733);
$color11: rgb(88, 58, 2);