/* reseteo de estilos */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* barra navegacion */
.navbar {
  background-color: #000;
}
.navbar a {
  color: #fff;
}

.navbar-brand {
  color: #fff;
}

span {
  color: orange;
}

.navbar-toggler i {
  color: #fff;
  font-size: 25px;
}

.nav-item {
  text-align: center;
}
.nav-item :hover {
  background-color: orange;
  transition: all 0.3s;
}

.dropdown-item {
  background-color: orange;
  color: #fff;
  text-align: center;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
}
.dropdown-item:hover {
  background-color: rgb(199, 131, 5);
}
.dropdown-item:active {
  border: 1px solid #fff;
}

.dropdown-menu {
  background-color: orange;
}

/* main */
main {
  height: 500px;
  background-image: url(../img/Imagen2.jpg);
  background-size: cover;
  background-position: center;
}

/* jumbotron */
.jumbotron {
  height: 400px;
  background-color: rgba(255, 255, 255, 0.116);
  background-position: right;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  border-radius: 5px;
}

.botonera {
  height: 100px;
}
.botonera a {
  color: #fff;
  text-decoration: none;
  background-color: orange;
  padding: 10px 30px;
  border-radius: 5px;
}
.botonera a:hover {
  background-color: rgb(199, 131, 5);
  transition: all 0.3s;
}
.botonera a:active {
  border: 2px solid #fff;
}

.h2__index {
  font-size: 20px;
  text-align: left;
  color: #000;
  text-transform: uppercase;
  padding: 20px;
  margin: 0;
  background-color: rgb(216, 213, 213);
}

/* carousel */
.carousel-item {
  text-align: center;
  background-color: rgb(216, 213, 213);
}

.carousel-item img {
  margin-left: 20px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #000;
  border: #000;
  margin-bottom: 20px;
}
.btn-primary:hover {
  background-color: rgb(199, 131, 5);
  transition: all 0.3s;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #999;
}

.img-moto {
  background-image: url(../img/moped.jpg);
  height: 400px;
  background-size: cover;
  background-color: #000;
  background-position: center;
}

/* seccion restauracion */
.titulo-moto {
  background-color: rgb(209, 148, 35);
  color: #fff;
  padding: 20px;
}
.titulo-moto h3 {
  text-align: center;
  font-size: 20px;
}
.titulo-moto a {
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.titulo-moto a:hover {
  background-color: rgb(88, 58, 2);
  transition: all 0.3s;
}
.titulo-moto a:active {
  border: 2px solid #fff;
}

.p__restauracion {
  font-size: 20px;
}

/* footer */
.f-redes {
  background-color: #000;
}

.f-enlaces {
  background-color: #000;
}
.f-enlaces ul li {
  list-style: none;
  text-decoration: none;
}
.f-enlaces a {
  color: #fff;
}

.f-mapa {
  background-color: #000;
}

h4 {
  text-align: center;
}

footer {
  text-align: center;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  padding: 20px;
}
footer p {
  margin-bottom: 10px;
}
footer i {
  font-size: 25px;
  letter-spacing: 25px;
  color: orange;
  margin-bottom: 10px;
}

.datos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top {
  margin-top: 20px;
}

/* estilos pagina contacto */
.fondo-contacto {
  background-image: url(../img/fondo-naranja.jpg);
  background-attachment: fixed;
}

#titulo-contacto {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0%;
  margin-top: 20px;
}

.boton-restauracion {
  display: inline-block;
}

/* estilos del accordion */
#accordion {
  margin: 20px;
  text-align: center;
}

.lista-accordion {
  list-style: none;
}

.lista-accordion ul li span {
  text-transform: uppercase;
}

.card-link {
  color: #000;
}

.card-link:hover {
  color: orange;
}

.h2-pag-motos {
  background-color: rgba(255, 255, 255, 0);
  text-transform: none;
}

.fondo-modelos {
  background-color: #e7e5e5;
}

/* estilos galeria */
.fondo-galeria {
  background-color: #e7e5e5;
}

#galeria {
  margin-bottom: 25px;
}

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
}

.foto__galeria {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.foto__galeria::before {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 166, 0, 0.568);
  transform: scale(0);
  transition: transform 0.4s;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.foto__galeria:hover::before {
  transform: scale(1) rotate(360deg);
}

.foto__galeria--img1::before {
  content: "BMW R100 RS";
}

.foto__galeria--img2::before {
  content: "BMW R 11";
}

.foto__galeria--img3::before {
  content: "BENELLI Tornado 650";
}

.foto__galeria--img4::before {
  content: "INDIAN CHIEF";
}

.foto__galeria--img5::before {
  content: "BSA 650 A65SS";
}

.foto__galeria--img6::before {
  content: "TRIUMPH 650 T120";
}

.foto__galeria--img7::before {
  content: "HONDA C71";
}

.foto__galeria--img8::before {
  content: "ROYAL ENFIELD Bullet 500";
}

.foto__galeria--img9::before {
  content: "ROYEL ENFIELD Continental";
}

/* estilos nosotros */
.fondo-nosotros {
  background-color: #e7e5e5;
}

.img__nosotros {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.img__nosotros:hover {
  transform: scale(1.1);
}

/* custom seleccion de texto */
p::-moz-selection {
  background-color: orange;
  color: #000;
}
p::selection {
  background-color: orange;
  color: #000;
}

/* custom barra de navegacion */
::-webkit-scrollbar {
  background-color: #000;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(211, 181, 14, 0.733);
  border-radius: 10px;
}/*# sourceMappingURL=styles.css.map */